/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

*{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
:root{
  --background: hsl(18deg 100% 96.08%);
  /* fuente */
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", serif;
  --subtitle-font: "Dancing Script", cursive;
  --text-color:hsl(19, 16%, 15%);
  --hover-color: hsl(19, 64%, 54%);
}
html{
  box-sizing: border-box; /* 1 rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  font-size: 1.6rem;
  font-family: var(--body-font);
}

a{
  cursor: pointer;
  color: var(--text-color);
  font-family: sans-serif;
}
a:hover{
  opacity: 0.8;;
}

img{
max-width: 100%;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* main */
main, header{
  grid-template-columns: 1fr;
  justify-content: center;
  background: var(--background);
}

.jumbotron{
  width: 100%;
  background: linear-gradient(45deg, #ffa477,#ffdbc9,#ffdbc9, #ffdbc9);
  padding: 3rem 0;
  overflow: hidden;
  justify-items: center;
  position: relative;
}
.hero {
  grid-template-columns: 0.9fr;
}
.hero__content {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.hero__data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}
.hero__h1{
  font-family: var(--title-font);
}
.hero__h1 div {
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}

.hero__title, .hero__text,.hero__description{
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.hero__description {
  max-width: 40rem;
}
.hero__title img{
  width: 40px; 
}

.jumbotron__img-1 {
  position: absolute;
  width: 7.5rem;
  top: 2.75rem;
  left: -1rem;
  transform: rotate(77deg);
  opacity: 0.3;
}

.jumbotron__img-2 {
  position: absolute;
  width: 5rem;
  right: 1rem;
  bottom: 0;
  opacity: 0.2;
  transform: rotate(317deg);
}

.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  background-color: var(--hover-color);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: white;
  font-weight: var(--font-medium);
  margin: 2rem 0;
  font-family: var(--body-font);
  border: none;
}

@media screen and (min-width: 901px) {
  .jumbotron{
    padding: 6rem 0;
  }
  .hero__title, .hero__text,.hero__description,.hero__data{
    align-items: flex-start;
    text-align: left;
  }
  
}
